<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyc.transactionpropagate.dao.AccCodeRuleMapper" >
  <resultMap id="BaseResultMap" type="com.zyc.transactionpropagate.model.AccCodeRule" >
    <id column="f_id" property="fId" jdbcType="BIGINT" />
    <result column="f_accounting_code" property="fAccountingCode" jdbcType="CHAR" />
    <result column="f_description" property="fDescription" jdbcType="VARCHAR" />
    <result column="f_sequence" property="fSequence" jdbcType="INTEGER" />
    <result column="f_accounting_direction" property="fAccountingDirection" jdbcType="TINYINT" />
    <result column="f_trans_direction" property="fTransDirection" jdbcType="TINYINT" />
    <result column="f_red_blue_flag" property="fRedBlueFlag" jdbcType="TINYINT" />
    <result column="f_account_sign_code" property="fAccountSignCode" jdbcType="CHAR" />
    <result column="f_member_no_type" property="fMemberNoType" jdbcType="TINYINT" />
    <result column="f_participant_role" property="fParticipantRole" jdbcType="VARCHAR" />
    <result column="f_status" property="fStatus" jdbcType="TINYINT" />
    <result column="f_create_by" property="fCreateBy" jdbcType="VARCHAR" />
    <result column="f_created_time" property="fCreatedTime" jdbcType="TIMESTAMP" />
    <result column="f_modified_by" property="fModifiedBy" jdbcType="VARCHAR" />
    <result column="f_modified_time" property="fModifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    f_id, f_accounting_code, f_description, f_sequence, f_accounting_direction, f_trans_direction, 
    f_red_blue_flag, f_account_sign_code, f_member_no_type, f_participant_role, f_status, 
    f_create_by, f_created_time, f_modified_by, f_modified_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zyc.transactionpropagate.model.AccCodeRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_acc_accounting_code_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_acc_accounting_code_rule
    where f_id = #{fId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_acc_accounting_code_rule
    where f_id = #{fId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zyc.transactionpropagate.model.AccCodeRuleExample" >
    delete from t_acc_accounting_code_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zyc.transactionpropagate.model.AccCodeRule" >
    insert into t_acc_accounting_code_rule (f_id, f_accounting_code, f_description, 
      f_sequence, f_accounting_direction, f_trans_direction, 
      f_red_blue_flag, f_account_sign_code, f_member_no_type, 
      f_participant_role, f_status, f_create_by, 
      f_created_time, f_modified_by, f_modified_time
      )
    values (#{fId,jdbcType=BIGINT}, #{fAccountingCode,jdbcType=CHAR}, #{fDescription,jdbcType=VARCHAR}, 
      #{fSequence,jdbcType=INTEGER}, #{fAccountingDirection,jdbcType=TINYINT}, #{fTransDirection,jdbcType=TINYINT}, 
      #{fRedBlueFlag,jdbcType=TINYINT}, #{fAccountSignCode,jdbcType=CHAR}, #{fMemberNoType,jdbcType=TINYINT}, 
      #{fParticipantRole,jdbcType=VARCHAR}, #{fStatus,jdbcType=TINYINT}, #{fCreateBy,jdbcType=VARCHAR}, 
      #{fCreatedTime,jdbcType=TIMESTAMP}, #{fModifiedBy,jdbcType=VARCHAR}, #{fModifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zyc.transactionpropagate.model.AccCodeRule" >
    insert into t_acc_accounting_code_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        f_id,
      </if>
      <if test="fAccountingCode != null" >
        f_accounting_code,
      </if>
      <if test="fDescription != null" >
        f_description,
      </if>
      <if test="fSequence != null" >
        f_sequence,
      </if>
      <if test="fAccountingDirection != null" >
        f_accounting_direction,
      </if>
      <if test="fTransDirection != null" >
        f_trans_direction,
      </if>
      <if test="fRedBlueFlag != null" >
        f_red_blue_flag,
      </if>
      <if test="fAccountSignCode != null" >
        f_account_sign_code,
      </if>
      <if test="fMemberNoType != null" >
        f_member_no_type,
      </if>
      <if test="fParticipantRole != null" >
        f_participant_role,
      </if>
      <if test="fStatus != null" >
        f_status,
      </if>
      <if test="fCreateBy != null" >
        f_create_by,
      </if>
      <if test="fCreatedTime != null" >
        f_created_time,
      </if>
      <if test="fModifiedBy != null" >
        f_modified_by,
      </if>
      <if test="fModifiedTime != null" >
        f_modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        #{fId,jdbcType=BIGINT},
      </if>
      <if test="fAccountingCode != null" >
        #{fAccountingCode,jdbcType=CHAR},
      </if>
      <if test="fDescription != null" >
        #{fDescription,jdbcType=VARCHAR},
      </if>
      <if test="fSequence != null" >
        #{fSequence,jdbcType=INTEGER},
      </if>
      <if test="fAccountingDirection != null" >
        #{fAccountingDirection,jdbcType=TINYINT},
      </if>
      <if test="fTransDirection != null" >
        #{fTransDirection,jdbcType=TINYINT},
      </if>
      <if test="fRedBlueFlag != null" >
        #{fRedBlueFlag,jdbcType=TINYINT},
      </if>
      <if test="fAccountSignCode != null" >
        #{fAccountSignCode,jdbcType=CHAR},
      </if>
      <if test="fMemberNoType != null" >
        #{fMemberNoType,jdbcType=TINYINT},
      </if>
      <if test="fParticipantRole != null" >
        #{fParticipantRole,jdbcType=VARCHAR},
      </if>
      <if test="fStatus != null" >
        #{fStatus,jdbcType=TINYINT},
      </if>
      <if test="fCreateBy != null" >
        #{fCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="fCreatedTime != null" >
        #{fCreatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fModifiedBy != null" >
        #{fModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="fModifiedTime != null" >
        #{fModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zyc.transactionpropagate.model.AccCodeRuleExample" resultType="java.lang.Integer" >
    select count(*) from t_acc_accounting_code_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_acc_accounting_code_rule
    <set >
      <if test="record.fId != null" >
        f_id = #{record.fId,jdbcType=BIGINT},
      </if>
      <if test="record.fAccountingCode != null" >
        f_accounting_code = #{record.fAccountingCode,jdbcType=CHAR},
      </if>
      <if test="record.fDescription != null" >
        f_description = #{record.fDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.fSequence != null" >
        f_sequence = #{record.fSequence,jdbcType=INTEGER},
      </if>
      <if test="record.fAccountingDirection != null" >
        f_accounting_direction = #{record.fAccountingDirection,jdbcType=TINYINT},
      </if>
      <if test="record.fTransDirection != null" >
        f_trans_direction = #{record.fTransDirection,jdbcType=TINYINT},
      </if>
      <if test="record.fRedBlueFlag != null" >
        f_red_blue_flag = #{record.fRedBlueFlag,jdbcType=TINYINT},
      </if>
      <if test="record.fAccountSignCode != null" >
        f_account_sign_code = #{record.fAccountSignCode,jdbcType=CHAR},
      </if>
      <if test="record.fMemberNoType != null" >
        f_member_no_type = #{record.fMemberNoType,jdbcType=TINYINT},
      </if>
      <if test="record.fParticipantRole != null" >
        f_participant_role = #{record.fParticipantRole,jdbcType=VARCHAR},
      </if>
      <if test="record.fStatus != null" >
        f_status = #{record.fStatus,jdbcType=TINYINT},
      </if>
      <if test="record.fCreateBy != null" >
        f_create_by = #{record.fCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.fCreatedTime != null" >
        f_created_time = #{record.fCreatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fModifiedBy != null" >
        f_modified_by = #{record.fModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.fModifiedTime != null" >
        f_modified_time = #{record.fModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_acc_accounting_code_rule
    set f_id = #{record.fId,jdbcType=BIGINT},
      f_accounting_code = #{record.fAccountingCode,jdbcType=CHAR},
      f_description = #{record.fDescription,jdbcType=VARCHAR},
      f_sequence = #{record.fSequence,jdbcType=INTEGER},
      f_accounting_direction = #{record.fAccountingDirection,jdbcType=TINYINT},
      f_trans_direction = #{record.fTransDirection,jdbcType=TINYINT},
      f_red_blue_flag = #{record.fRedBlueFlag,jdbcType=TINYINT},
      f_account_sign_code = #{record.fAccountSignCode,jdbcType=CHAR},
      f_member_no_type = #{record.fMemberNoType,jdbcType=TINYINT},
      f_participant_role = #{record.fParticipantRole,jdbcType=VARCHAR},
      f_status = #{record.fStatus,jdbcType=TINYINT},
      f_create_by = #{record.fCreateBy,jdbcType=VARCHAR},
      f_created_time = #{record.fCreatedTime,jdbcType=TIMESTAMP},
      f_modified_by = #{record.fModifiedBy,jdbcType=VARCHAR},
      f_modified_time = #{record.fModifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyc.transactionpropagate.model.AccCodeRule" >
    update t_acc_accounting_code_rule
    <set >
      <if test="fAccountingCode != null" >
        f_accounting_code = #{fAccountingCode,jdbcType=CHAR},
      </if>
      <if test="fDescription != null" >
        f_description = #{fDescription,jdbcType=VARCHAR},
      </if>
      <if test="fSequence != null" >
        f_sequence = #{fSequence,jdbcType=INTEGER},
      </if>
      <if test="fAccountingDirection != null" >
        f_accounting_direction = #{fAccountingDirection,jdbcType=TINYINT},
      </if>
      <if test="fTransDirection != null" >
        f_trans_direction = #{fTransDirection,jdbcType=TINYINT},
      </if>
      <if test="fRedBlueFlag != null" >
        f_red_blue_flag = #{fRedBlueFlag,jdbcType=TINYINT},
      </if>
      <if test="fAccountSignCode != null" >
        f_account_sign_code = #{fAccountSignCode,jdbcType=CHAR},
      </if>
      <if test="fMemberNoType != null" >
        f_member_no_type = #{fMemberNoType,jdbcType=TINYINT},
      </if>
      <if test="fParticipantRole != null" >
        f_participant_role = #{fParticipantRole,jdbcType=VARCHAR},
      </if>
      <if test="fStatus != null" >
        f_status = #{fStatus,jdbcType=TINYINT},
      </if>
      <if test="fCreateBy != null" >
        f_create_by = #{fCreateBy,jdbcType=VARCHAR},
      </if>
      <if test="fCreatedTime != null" >
        f_created_time = #{fCreatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fModifiedBy != null" >
        f_modified_by = #{fModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="fModifiedTime != null" >
        f_modified_time = #{fModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where f_id = #{fId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyc.transactionpropagate.model.AccCodeRule" >
    update t_acc_accounting_code_rule
    set f_accounting_code = #{fAccountingCode,jdbcType=CHAR},
      f_description = #{fDescription,jdbcType=VARCHAR},
      f_sequence = #{fSequence,jdbcType=INTEGER},
      f_accounting_direction = #{fAccountingDirection,jdbcType=TINYINT},
      f_trans_direction = #{fTransDirection,jdbcType=TINYINT},
      f_red_blue_flag = #{fRedBlueFlag,jdbcType=TINYINT},
      f_account_sign_code = #{fAccountSignCode,jdbcType=CHAR},
      f_member_no_type = #{fMemberNoType,jdbcType=TINYINT},
      f_participant_role = #{fParticipantRole,jdbcType=VARCHAR},
      f_status = #{fStatus,jdbcType=TINYINT},
      f_create_by = #{fCreateBy,jdbcType=VARCHAR},
      f_created_time = #{fCreatedTime,jdbcType=TIMESTAMP},
      f_modified_by = #{fModifiedBy,jdbcType=VARCHAR},
      f_modified_time = #{fModifiedTime,jdbcType=TIMESTAMP}
    where f_id = #{fId,jdbcType=BIGINT}
  </update>
</mapper>